<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pzd.collegegrievance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeGrievance">


        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentDetailsUserActivity"
            android:parentActivityName=".UserViewStatusActivity">
        </activity>
        <activity
            android:name=".StudentDetailsActivity"
            android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".UserActivity" />
        <activity
            android:name=".UserViewStatusActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".UserActivity2"
            android:parentActivityName=".UserActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>